body{
    font-family: "Fira Sans", serif;
}


.banner{
  
   
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 80px;
    margin-bottom: 80px;
    
}

.banner-content{
    display: flex;
    justify-content: space-around;
    background-color: #C6E4D6;
    border-radius: 24px;
    gap: 64px;  
}



.content{
   
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.header{
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E80;
    
   
    
}

.paragraph{
    font-size: 56px;
    font-weight: 700;
    
    margin-bottom: 24px;
   
}

.btn{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 8px;
    background-color: #006A50;
    padding:  17px 34px ;
    border: #FFFFFF;
}
.bangla{
  
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 60px;
}





/* 2nd */

.btn-primary{
    padding: 11px 20px;
    color: #FFFFFF;
    background-color: #5490F5;
    font-weight: 600;
    border-radius: 8px;
    border: #FFFFFF;
}

.btn-primary1{
    padding: 11px 20px;
    color: #FFFFFF;
    background-color: #09A15C;
    font-weight: 600;
    border-radius: 8px;
    border: #FFFFFF;
}

.btn-primary2{
    padding: 11px 20px;
    color: #FFFFFF;
    background-color: #FFC239;
    font-weight: 600;
    border-radius: 8px;
    border: #FFFFFF;
}


.card-container{

    display: flex;
    gap: 24px;
    
}

.card-title{
    font-weight: bold;
    font-size: 20px;
}
.card-one{
    background-color: #5490F533;
    border-radius: 16px;
    padding: 32px 32px;
   }

   .card-two{
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 32px 32px;
   }
   .card-three{
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 32px 32px;
   
}


.title{
    font-weight: bold;
    font-size: 45px;
    margin-top: 80px;
    
}
.cards{
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 80px;
  margin-bottom: 80px;
 
}


/* 3rd */
.satelite{
    display: flex;
    gap: 32px;
    background-color: #FFFFFF;
   padding: 48px;
   border-radius: 40;
   
}
.date{
    display: flex;
    gap: 12px;
}

.banner-title{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 48px;
}

.new{
  
}

.border{
    border-radius: 24px;
}