body{
    font-family: "Fira Sans", serif;
}


.banner{
    display: flex;
    background-color: #C6E4D6;
    width: 1280px;
    height: 560px;
    border-radius: 24px;
   
    
}

.header{
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E80;
}

.paragraph{
    font-size: 56px;
    font-weight: 700;
}

.btn{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 8px;
    background-color: #006A50;
    padding:  17px 34px ;
}

.bangla{
    /* width: 474px;
    height: 400px; */
}